body{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(30deg,rgb(4, 4, 4),blue,rgb(76, 2, 14))
}
.container{
    border: 1px solid black;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div1, .div2, .div3, .div4, .div5 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#input{
    width: 100%;
    height: 100px;
    border-radius: 30px;
    text-align: right;
    border: none;
     background: transparent;
     font-size: larger;
        color: white;
         font-size:30px;
}

input::placeholder{
    color: white;
    font-size: 50px;
}

button{
    height: 60px;
    width: 60px;
    margin: 15px;
    font-size: larger;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px;
    text-align: center;
    font-weight: bold;
    flex-shrink: 0;
}
#equal{
    background-color: rgb(255, 255, 0);
}
.s{
   color : rgb(5, 246, 5);
    background: black;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        border-radius: 15px;
        max-width: 90vw;
    }
    
    #input {
        height: 80px;
        font-size: 24px;
        width: 100%;
        max-width: 300px;
    }
    
    input::placeholder {
        font-size: 30px;
    }
    
    button {
        height: 50px;
        width: 50px;
        margin: 8px;
        font-size: medium;
    }
    
    .div1, .div2, .div3, .div4, .div5 {
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
        max-width: 95vw;
    }
    
    #input {
        height: 60px;
        font-size: 20px;
        max-width: 250px;
    }
    
    input::placeholder {
        font-size: 24px;
    }
    
    button {
        height: 40px;
        width: 40px;
        margin: 5px;
        font-size: small;
    }
    
    .div1, .div2, .div3, .div4, .div5 {
        margin-bottom: 3px;
    }
}
